In [3]:
import pandas as pd

In [4]:
data_folder = "C:\\Users\\spars\\Documents\\Master\\JHU\\TML\\HomePriceBeastNew\\"

In [5]:
education_data = pd.read_csv(f"{data_folder}Education_data.csv")
education_data = education_data.drop(['Rural-urban_Continuum Code_2003_ED',
       'Urban_Influence_Code_2003_ED', 'Rural-urban_Continuum Code_2013_ED',
       'Urban_Influence_Code_2013_ED', 'State', 'Area name'], axis=1)
education_data.rename(columns = {'FIPS Code' : 'FIPS_Code'}, inplace=True)
education_data.head(3)

,FIPS_Code,LT_HSD_1970,HSD_Only_1970,COLL_1TO3_1970,COLL_4_1970,PCT_LT_HSD_1970,PCT_HSD_Only_1970,PCT_COLL_1TO3_1970,PCT_COLL_4_1970,LT_HSD_1980,...,PCT_COLL_1TO3_2000,PCT_COLL_4_2000,LT_HSD_2015_19,HSD_Only_2015_19,COLL_1TO3_2015_19,COLL_4_2015_19,PCT_LT_HSD_2015_19,PCT_HSD_Only_2015_19,PCT_COLL_1TO3_2015_19,PCT_COLL_4_2015_19
0,0,"52,373,312","34,158,051","11,650,730","11,717,266",47.7,31.1,10.6,10.7,"44,535,197",...,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,"1,062,306","468,269","136,287","141,936",58.7,25.9,7.5,7.8,"964,840",...,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,"6,611","3,757",933,767,54.8,31.1,7.7,6.4,"7,074",...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6

In [6]:
population_data = pd.read_csv(f"{data_folder}Population_data.csv")
population_data = population_data.drop(['Rural-urban_Continuum Code_2003',
       'Rural-urban_Continuum Code_2013', 'Urban_Influence_Code_2003',
       'Urban_Influence_Code_2013'], axis=1)
population_data.rename(columns = {'FIPStxt' : 'FIPS_Code', 'State':'state_code','Area_Name':'county_name'}, inplace=True)
population_data.head(3)

,FIPS_Code,state_code,county_name,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,...,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018,R_NET_MIG_2019,Unnamed: 165
0,0,US,United States,NaN,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,"4,779,736","4,780,125","4,785,437","4,799,069","4,815,588","4,830,081",...,0.6,1.2,1.5,0.6,0.6,0.7,1.1,1.8,2.5,NaN
2,1001,AL,Autauga County,0.0,"54,571","54,597","54,773","55,227","54,954","54,727",...,6.0,-6.2,-3.9,2.0,-1.7,4.8,0.8,0.5,4.6,NaN

In [7]:
unemployment_data = pd.read_csv(f"{data_folder}Unemployment_data.csv")
unemployment_data = unemployment_data.drop(['Rural_urban_continuum_code_2013',
       'Urban_influence_code_2013', 'Metro_2013', 'State', 'Area_name'], axis=1)
unemployment_data.head(3)

,FIPS_Code,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,"142,601,576","136,904,853","5,696,723",4.0,"143,786,537","136,977,996","6,808,541",4.7,"144,839,298",...,"163,140,305","157,154,185","5,986,120",3.7,"160,611,064","147,677,360","12,933,704",8.1,"65,712",NaN
1,1000,"2,147,173","2,047,731","99,442",4.6,"2,128,027","2,017,467","110,560",5.2,"2,112,621",...,"2,237,278","2,169,395","67,883",3.0,"2,230,118","2,099,062","131,056",5.9,"51,771",100.0
2,1001,"21,861","20,971",890,4.1,"22,081","21,166",915,4.1,"22,161",...,"26,281","25,561",720,2.7,"25,838","24,576","1,262",4.9,"58,233",112.5

In [8]:
def combine_census_datasets(education_data, population_data, unemployment_data):
    
    merged_census_data = pd.merge(
    population_data,
    education_data,
    how="inner",
    on="FIPS_Code")

    merged_census_data = pd.merge(
        merged_census_data,
        unemployment_data,
        how="inner",
        on="FIPS_Code")
    
    return merged_census_data

In [9]:
merged_census_data = combine_census_datasets(education_data, population_data, unemployment_data)

In [10]:
merged_census_data.head(3)

,FIPS_Code,state_code,county_name,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715",...,"163,140,305","157,154,185","5,986,120",3.7,"160,611,064","147,677,360","12,933,704",8.1,"65,712",NaN
1,1000,AL,Alabama,NaN,"4,779,736","4,780,125","4,785,437","4,799,069","4,815,588","4,830,081",...,"2,237,278","2,169,395","67,883",3.0,"2,230,118","2,099,062","131,056",5.9,"51,771",100.0
2,1001,AL,Autauga County,0.0,"54,571","54,597","54,773","55,227","54,954","54,727",...,"26,281","25,561",720,2.7,"25,838","24,576","1,262",4.9,"58,233",112.5

In [11]:
#Filter only county data. 
merged_census_county_data = merged_census_data[merged_census_data['FIPS_Code'] % 10 != 0]

In [12]:
merged_census_county_data.to_csv(f"{data_folder}merged_census_county_data.csv", index=False)

In [15]:
[print(c) for c in list(merged_census_county_data.columns)]

FIPS_Code
state_code
county_name
Economic_typology_2015
CENSUS_2010_POP
ESTIMATES_BASE_2010
POP_ESTIMATE_2010
POP_ESTIMATE_2011
POP_ESTIMATE_2012
POP_ESTIMATE_2013
POP_ESTIMATE_2014
POP_ESTIMATE_2015
POP_ESTIMATE_2016
POP_ESTIMATE_2017
POP_ESTIMATE_2018
POP_ESTIMATE_2019
N_POP_CHG_2010
N_POP_CHG_2011
N_POP_CHG_2012
N_POP_CHG_2013
N_POP_CHG_2014
N_POP_CHG_2015
N_POP_CHG_2016
N_POP_CHG_2017
N_POP_CHG_2018
N_POP_CHG_2019
Births_2010
Births_2011
Births_2012
Births_2013
Births_2014
Births_2015
Births_2016
Births_2017
Births_2018
Births_2019
Deaths_2010
Deaths_2011
Deaths_2012
Deaths_2013
Deaths_2014
Deaths_2015
Deaths_2016
Deaths_2017
Deaths_2018
Deaths_2019
NATURAL_INC_2010
NATURAL_INC_2011
NATURAL_INC_2012
NATURAL_INC_2013
NATURAL_INC_2014
NATURAL_INC_2015
NATURAL_INC_2016
NATURAL_INC_2017
NATURAL_INC_2018
NATURAL_INC_2019
INTERNATIONAL_MIG_2010
INTERNATIONAL_MIG_2011
INTERNATIONAL_MIG_2012
INTERNATIONAL_MIG_2013
INTERNATIONAL_MIG_2014
INTERNATIONAL_MIG_2015
INTERNATIONAL_MIG_2016
INTERNATIONAL_MIG_2017
INTERNATIONAL_MIG_2018
INTERNATIONAL_MIG_2019
DOMESTIC_MIG_2010
DOMESTIC_MIG_2011
DOMESTIC_MIG_2012
DOMESTIC_MIG_2013
DOMESTIC_MIG_2014
DOMESTIC_MIG_2015
DOMESTIC_MIG_2016
DOMESTIC_MIG_2017
DOMESTIC_MIG_2018
DOMESTIC_MIG_2019
NET_MIG_2010
NET_MIG_2011
NET_MIG_2012
NET_MIG_2013
NET_MIG_2014
NET_MIG_2015
NET_MIG_2016
NET_MIG_2017
NET_MIG_2018
NET_MIG_2019
RESIDUAL_2010
RESIDUAL_2011
RESIDUAL_2012
RESIDUAL_2013
RESIDUAL_2014
RESIDUAL_2015
RESIDUAL_2016
RESIDUAL_2017
RESIDUAL_2018
RESIDUAL_2019
GQ_ESTIMATES_BASE_2010
GQ_ESTIMATES_2010
GQ_ESTIMATES_2011
GQ_ESTIMATES_2012
GQ_ESTIMATES_2013
GQ_ESTIMATES_2014
GQ_ESTIMATES_2015
GQ_ESTIMATES_2016
GQ_ESTIMATES_2017
GQ_ESTIMATES_2018
GQ_ESTIMATES_2019
R_birth_2011
R_birth_2012
R_birth_2013
R_birth_2014
R_birth_2015
R_birth_2016
R_birth_2017
R_birth_2018
R_birth_2019
R_death_2011
R_death_2012
R_death_2013
R_death_2014
R_death_2015
R_death_2016
R_death_2017
R_death_2018
R_death_2019
R_NATURAL_INC_2011
R_NATURAL_INC_2012
R_NATURAL_INC_2013
R_NATURAL_INC_2014
R_NATURAL_INC_2015
R_NATURAL_INC_2016
R_NATURAL_INC_2017
R_NATURAL_INC_2018
R_NATURAL_INC_2019
R_INTERNATIONAL_MIG_2011
R_INTERNATIONAL_MIG_2012
R_INTERNATIONAL_MIG_2013
R_INTERNATIONAL_MIG_2014
R_INTERNATIONAL_MIG_2015
R_INTERNATIONAL_MIG_2016
R_INTERNATIONAL_MIG_2017
R_INTERNATIONAL_MIG_2018
R_INTERNATIONAL_MIG_2019
R_DOMESTIC_MIG_2011
R_DOMESTIC_MIG_2012
R_DOMESTIC_MIG_2013
R_DOMESTIC_MIG_2014
R_DOMESTIC_MIG_2015
R_DOMESTIC_MIG_2016
R_DOMESTIC_MIG_2017
R_DOMESTIC_MIG_2018
R_DOMESTIC_MIG_2019
R_NET_MIG_2011
R_NET_MIG_2012
R_NET_MIG_2013
R_NET_MIG_2014
R_NET_MIG_2015
R_NET_MIG_2016
R_NET_MIG_2017
R_NET_MIG_2018
R_NET_MIG_2019
Unnamed: 165
LT_HSD_1970
HSD_Only_1970
COLL_1TO3_1970
COLL_4_1970
PCT_LT_HSD_1970
PCT_HSD_Only_1970
PCT_COLL_1TO3_1970
PCT_COLL_4_1970
LT_HSD_1980
HSD_Only_1980
COLL_1TO3_1980
COLL_4_1980
PCT_LT_HSD_1980
PCT_HSD_Only_1980
PCT_COLL_1TO3_1980
PCT_COLL_4_1980
LT_HSD_1990
HSD_Only_1990
COLL_1TO3_1990
COLL_4_1990
PCT_LT_HSD_1990
PCT_HSD_Only_1990
PCT_COLL_1TO3_1990
PCT_COLL_4_1990
LT_HSD_2000
HSD_Only_2000
COLL_1TO3_2000
COLL_4_2000
PCT_LT_HSD_2000
PCT_HSD_Only_2000
PCT_COLL_1TO3_2000
PCT_COLL_4_2000
LT_HSD_2015_19
HSD_Only_2015_19
COLL_1TO3_2015_19
COLL_4_2015_19
PCT_LT_HSD_2015_19
PCT_HSD_Only_2015_19
PCT_COLL_1TO3_2015_19
PCT_COLL_4_2015_19
Civilian_labor_force_2000
Employed_2000
Unemployed_2000
Unemployment_rate_2000
Civilian_labor_force_2001
Employed_2001
Unemployed_2001
Unemployment_rate_2001
Civilian_labor_force_2002
Employed_2002
Unemployed_2002
Unemployment_rate_2002
Civilian_labor_force_2003
Employed_2003
Unemployed_2003
Unemployment_rate_2003
Civilian_labor_force_2004
Employed_2004
Unemployed_2004
Unemployment_rate_2004
Civilian_labor_force_2005
Employed_2005
Unemployed_2005
Unemployment_rate_2005
Civilian_labor_force_2006
Employed_2006
Unemployed_2006
Unemployment_rate_2006
Civilian_labor_force_2007
Employed_2007
Unemployed_2007
Unemployment_rate_2007
Civilian_labor_force_2008
Employed_2008
Unemployed_2008
Unemployment_rate_2008
Civilian_labor_force_2009
Employed_2009
Unemployed_2009
Unemployment_rate_2009
Civilian_labor_force_2010
Employed_2010
Unemployed_2010
Unemployment_rate_2010
Civilian_labor_force_2011
Employed_2011
Unemployed_2011
Unemployment_rate_2011
Civilian_labor_force_2012
Employed_2012
Unemployed_2012
Unemployment_rate_2012
Civilian_labor_force_2013
Employed_2013
Unemployed_2013
Unemployment_rate_2013
Civilian_labor_force_2014
Employed_2014
Unemployed_2014
Unemployment_rate_2014
Civilian_labor_force_2015
Employed_2015
Unemployed_2015
Unemployment_rate_2015
Civilian_labor_force_2016
Employed_2016
Unemployed_2016
Unemployment_rate_2016
Civilian_labor_force_2017
Employed_2017
Unemployed_2017
Unemployment_rate_2017
Civilian_labor_force_2018
Employed_2018
Unemployed_2018
Unemployment_rate_2018
Civilian_labor_force_2019
Employed_2019
Unemployed_2019
Unemployment_rate_2019
Civilian_labor_force_2020
Employed_2020
Unemployed_2020
Unemployment_rate_2020
Median_Household_Income_2019
Med_HH_Income_Percent_of_State_Total_2019

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [40]:
import numpy as np
np.unique(merged_census_county_data['R_birth_2012'].values)

array([ 2.3,  2.6,  2.8,  3.4,  4. ,  4.1,  4.3,  4.4,  4.5,  4.6,  4.8,
        4.9,  5. ,  5.2,  5.3,  5.5,  5.6,  5.7,  5.9,  6. ,  6.1,  6.2,
        6.3,  6.4,  6.5,  6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,
        7.4,  7.5,  7.6,  7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,
        8.5,  8.6,  8.7,  8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,
        9.6,  9.7,  9.8,  9.9, 10. , 10.1, 10.2, 10.3, 10.4, 10.5, 10.6,
       10.7, 10.8, 10.9, 11. , 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7,
       11.8, 11.9, 12. , 12.1, 12.2, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8,
       12.9, 13. , 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9,
       14. , 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15. ,
       15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9, 16. , 16.1,
       16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 16.9, 17. , 17.1, 17.2,
       17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18. , 18.1, 18.2, 18.3,
       18.4, 18.5, 18.7, 18.9, 19. , 19.1, 19.2, 19.3, 19.4, 19.5, 19.7,
       20.1, 20.2, 20.3, 20.4, 20.6, 20.7, 20.8, 20.9, 21. , 21.3, 21.4,
       21.6, 22.1, 22.3, 22.5, 23. , 23.1, 23.2, 23.4, 23.8, 24.1, 24.8,
       26. , 26.1, 26.4, 27.6, 28.6, 28.9, 30. , 31.2,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,
        nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan,  nan])