In [1]:
import pandas as pd

In [2]:
data_folder = "C:\\Users\\spars\\Documents\\Master\\JHU\TML\\HomePriceBeastNew\\"

In [31]:
pd.set_option("display.max_columns", None)

In [3]:
home_data = pd.read_csv(f"{data_folder}combined_home_data.csv")

C:\ProgramData\Anaconda3\envs\TML\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,171) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
home_data

,region_id,period_begin,period_end,total_homes_sold,total_homes_sold_yoy,average_homes_sold,average_homes_sold_yoy,total_homes_sold_with_price_drops,total_homes_sold_with_price_drops_yoy,average_homes_sold_with_price_drops,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,267,2019-02-25,2019-03-24,2.0,0.000000,1.0,-0.500000,1.0,NaN,0.0,...,"3,902","3,734",168,4.3,"3,834","3,605",229,6.0,"44,272",90.3
1,267,2019-02-11,2019-03-10,1.0,-0.666667,1.0,0.000000,0.0,-1.0,0.0,...,"3,902","3,734",168,4.3,"3,834","3,605",229,6.0,"44,272",90.3
2,267,2019-02-18,2019-03-17,1.0,-0.500000,1.0,-0.500000,0.0,NaN,0.0,...,"3,902","3,734",168,4.3,"3,834","3,605",229,6.0,"44,272",90.3
3,267,2019-02-04,2019-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3,902","3,734",168,4.3,"3,834","3,605",229,6.0,"44,272",90.3
4,267,2020-08-17,2020-09-13,2.0,-0.666667,2.0,-0.333333,1.0,NaN,1.0,...,"3,902","3,734",168,4.3,"3,834","3,605",229,6.0,"44,272",90.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359305,1686,2021-04-26,2021-05-23,6.0,NaN,2.0,NaN,0.0,NaN,0.0,...,"5,671","5,495",176,3.1,"5,627","5,376",251,4.5,"63,419",110.5
359306,1686,2021-04-19,2021-05-16,5.0,NaN,1.0,NaN,0.0,NaN,0.0,...,"5,671","5,495",176,3.1,"5,627","5,376",251,4.5,"63,419",110.5
359307,1686,2021-03-22,2021-04-18,4.0,NaN,2.0,NaN,0.0,NaN,0.0,...,"5,671","5,495",176,3.1,"5,627","5,376",251,4.5,"63,419",110.5
359308,1686,2021-03-29,2021-04-25,6.0,NaN,2.0,NaN,0.0,NaN,0.0,...,"5,671","5,495",176,3.1,"5,627","5,376",251,4.5,"63,419",110.5
359309,1686,2021-03-15,2021-04-11,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,"5,671","5,495",176,3.1,"5,627","5,376",251,4.5,"63,419",110.5

In [5]:
home_data.columns

Index(['region_id', 'period_begin', 'period_end', 'total_homes_sold',
       'total_homes_sold_yoy', 'average_homes_sold', 'average_homes_sold_yoy',
       'total_homes_sold_with_price_drops',
       'total_homes_sold_with_price_drops_yoy',
       'average_homes_sold_with_price_drops',
       ...
       'Civilian_labor_force_2019', 'Employed_2019', 'Unemployed_2019',
       'Unemployment_rate_2019', 'Civilian_labor_force_2020', 'Employed_2020',
       'Unemployed_2020', 'Unemployment_rate_2020',
       'Median_Household_Income_2019',
       'Med_HH_Income_Percent_of_State_Total_2019'],
      dtype='object', length=370)

In [6]:
regression_data = [('R_INTERNATIONAL_MIG_2019', 0.17610948977884106),
 ('Unemployment_rate_2020', 0.12709234018235027),
 ('PCT_COLL_4_2015_19', 0.10089351079140449),
 ('PCT_COLL_1TO3_2000', 0.09006688977901284),
 ('PCT_HSD_Only_2000', 0.0879606476535308),
 ('R_NET_MIG_2019', 0.028895682161653686),
 ('Med_HH_Income_Percent_of_State_Total_2019', 0.023916752148838184),
 ('GQ_ESTIMATES_2019', 0.0009909080307563684),
 ('N_POP_CHG_2019', 0.0005525030638367441),
 ('INTERNATIONAL_MIG_2019', 0.00026240620112466404),
 ('NET_MIG_2019', 0.00024496245588270305),
 ('HSD_Only_2000', 0.00023712250784969354),
 ('DOMESTIC_MIG_2019', 0.00018635562239923184),
 ('RESIDUAL_2019', 2.6954919950351492e-05),
 ('Deaths_2019', -0.0002021831104990749),
 ('COLL_4_2000', -0.0002810094331158557),
 ('POP_ESTIMATE_2019', -0.0002872353305514814),
 ('LT_HSD_2015_19', -0.0004969433493877789),
 ('COLL_1TO3_2000', -0.0006302078882193471),
 ('Unemployed_2020', -0.0006335672359380096),
 ('NATURAL_INC_2019', -0.0007373928907110868),
 ('GQ_ESTIMATES_BASE_2010', -0.0008204793084111819),
 ('Employed_2020', -0.0008460478469702123),
 ('LT_HSD_2000', -0.0012445044321064708),
 ('COLL_4_2015_19', -0.0014284185760394478),
 ('HSD_Only_2015_19', -0.0015662993480219393),
 ('COLL_1TO3_2015_19', -0.0021305004063021547),
 ('Civilian_labor_force_2020', -0.003938334952043692),
 ('CENSUS_2010_POP', -0.012032827424289927),
 ('PCT_LT_HSD_2000', -0.01420478815138152),
 ('R_birth_2019', -0.025693226090843724),
 ('PCT_COLL_1TO3_2015_19', -0.02868003828331997),
 ('PCT_COLL_4_2000', -0.059240918026618766),
 ('Economic_typology_2015', -0.09248347422662626),
 ('R_death_2019', -0.17314110252107287)]

In [7]:
X = [x[0] for x in regression_data]
X.append("county_name")
X.append("state_code")
y = "Inventory"

In [8]:
home_data = home_data.sort_values(by=['period_begin'])

In [9]:
def get_lead_lag_features(feature_df,L,colname,time_feature,lag=True):
    col_mid = "lead"
    mult = -1
    
    if lag:
        col_mid = "lag"
        mult = 1
        
    other_cols = [x for x in feature_df.columns if x!=colname and x!=time_feature]
    cols = other_cols+ [time_feature]
    feature_df = feature_df.sort_values(cols).reset_index(drop=True)
    
    new_feature_df = pd.DataFrame()
    for lag in range(L):
        l = lag +1
        col = f"{colname}_{col_mid}_{l}"
        new_feature_df[col] = feature_df.groupby(other_cols)[colname].shift(l*mult)
    new_feature_df.fillna(0,inplace=True)
    
    result = pd.concat([feature_df, new_feature_df], axis=1)
    return result

In [10]:
def get_lag_features(feature_df, J, colname, time_feature):
    
    return get_lead_lag_features(feature_df, J, colname, time_feature)

def get_lead_features(feature_df, H, colname, time_feature):
    
    return get_lead_lag_features(feature_df, H, colname, time_feature,lag=False)

In [40]:
#y - variable of interest. 
#J - Number of historical points to consider. 
#H - Number of future points to predict. 
#X - Columns names of static features of interest. 
def convert_to_timeseries_df(y, J, H, X, data_frame, x_related, get_lead_for_related=False):
    static_feature_df = data_frame[X].drop_duplicates()
    group_cols = ["state_code", "county_name"]
    dt_col = "period_begin"
    
    y_feature_df = data_frame[group_cols+[dt_col,y]].drop_duplicates()
    print(y_feature_df.columns)
    
    x_related_lead_feature_df = pd.DataFrame()
    x_related_feature_df = data_frame[group_cols+[dt_col,x_related]].drop_duplicates()

    if get_lead_for_related:
        x_related_lead_feature_df = get_lead_features(x_related_feature_df, H, x_related, dt_col)
        x_related_lead_feature_df = x_related_lead_feature_df[[x for x in x_related_lead_feature_df.columns if "lead" in x]]
           
    x_related_feature_df = get_lag_features(x_related_feature_df, J, x_related, dt_col) 
    print(x_related_feature_df.columns)
    
    #Get lag and lead terms for y_feature
    y_feature_df_lag = get_lag_features(y_feature_df, J, y, dt_col)    
    y_feature_df_lead = get_lead_features(y_feature_df, H, y, dt_col)
    y_feature_df_lead = y_feature_df_lead[[x for x in y_feature_df_lead.columns if x not in y_feature_df_lag.columns]]
    
    y_feature_df = pd.concat([y_feature_df_lag, 
                              y_feature_df_lead], axis=1)
    
    return static_feature_df, x_related_feature_df, y_feature_df, x_related_lead_feature_df

In [41]:
static_feature_df, x_related_feature_df, y_feature_df, _ = convert_to_timeseries_df('inventory', 5, 3, X, home_data, 'median_sale_price')

Index(['state_code', 'county_name', 'period_begin', 'inventory'], dtype='object')
Index(['state_code', 'county_name', 'period_begin', 'median_sale_price',
       'median_sale_price_lag_1', 'median_sale_price_lag_2',
       'median_sale_price_lag_3', 'median_sale_price_lag_4',
       'median_sale_price_lag_5'],
      dtype='object')

In [42]:
static_feature_df_sale_model, x_related_feature_df_sale_model, y_feature_df_sale_model, x_related_feature_lead_df_sale_model = convert_to_timeseries_df('median_sale_price', 5, 3, X, home_data, 'inventory', get_lead_for_related=True)

Index(['state_code', 'county_name', 'period_begin', 'median_sale_price'], dtype='object')
Index(['state_code', 'county_name', 'period_begin', 'inventory',
       'inventory_lag_1', 'inventory_lag_2', 'inventory_lag_3',
       'inventory_lag_4', 'inventory_lag_5'],
      dtype='object')

In [43]:
x_related_feature_lead_df_sale_model.head(3)

   inventory_lead_1  inventory_lead_2  inventory_lead_3
0             470.0             467.0             465.0
1             467.0             465.0             465.0
2             465.0             465.0             464.0

In [44]:
x_related_feature_df_sale_model

,state_code,county_name,period_begin,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5
0,AK,Kenai Peninsula Borough,2017-01-02,474.0,0.0,0.0,0.0,0.0,0.0
1,AK,Kenai Peninsula Borough,2017-01-09,470.0,474.0,0.0,0.0,0.0,0.0
2,AK,Kenai Peninsula Borough,2017-01-16,467.0,470.0,474.0,0.0,0.0,0.0
3,AK,Kenai Peninsula Borough,2017-01-23,465.0,467.0,470.0,474.0,0.0,0.0
4,AK,Kenai Peninsula Borough,2017-01-30,465.0,465.0,467.0,470.0,474.0,0.0
...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,55.0,51.0,48.0,45.0,44.0,43.0
359306,WV,Morgan County,2021-05-10,59.0,55.0,51.0,48.0,45.0,44.0
359307,WV,Morgan County,2021-05-17,63.0,59.0,55.0,51.0,48.0,45.0
359308,WV,Morgan County,2021-05-24,68.0,63.0,59.0,55.0,51.0,48.0
359309,WV,Morgan County,2021-05-31,69.0,68.0,63.0,59.0,55.0,51.0

In [45]:
y_feature_df_sale_model

,state_code,county_name,period_begin,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5,median_sale_price_lead_1,median_sale_price_lead_2,median_sale_price_lead_3
0,AK,Kenai Peninsula Borough,2017-01-02,218875.0,0.0,0.0,0.0,0.0,0.0,233062.5,232312.5,221125.0
1,AK,Kenai Peninsula Borough,2017-01-09,233062.5,218875.0,0.0,0.0,0.0,0.0,232312.5,221125.0,236687.5
2,AK,Kenai Peninsula Borough,2017-01-16,232312.5,233062.5,218875.0,0.0,0.0,0.0,221125.0,236687.5,224062.5
3,AK,Kenai Peninsula Borough,2017-01-23,221125.0,232312.5,233062.5,218875.0,0.0,0.0,236687.5,224062.5,213562.5
4,AK,Kenai Peninsula Borough,2017-01-30,236687.5,221125.0,232312.5,233062.5,218875.0,0.0,224062.5,213562.5,231687.5
...,...,...,...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,249987.5,244987.5,233737.5,215626.3,256613.8,247113.8,256237.5,244012.5,235887.5
359306,WV,Morgan County,2021-05-10,256237.5,249987.5,244987.5,233737.5,215626.3,256613.8,244012.5,235887.5,276612.5
359307,WV,Morgan County,2021-05-17,244012.5,256237.5,249987.5,244987.5,233737.5,215626.3,235887.5,276612.5,0.0
359308,WV,Morgan County,2021-05-24,235887.5,244012.5,256237.5,249987.5,244987.5,233737.5,276612.5,0.0,0.0
359309,WV,Morgan County,2021-05-31,276612.5,235887.5,244012.5,256237.5,249987.5,244987.5,0.0,0.0,0.0

In [46]:
x_related_feature_lead_df_sale_model

        inventory_lead_1  inventory_lead_2  inventory_lead_3
0                  470.0             467.0             465.0
1                  467.0             465.0             465.0
2                  465.0             465.0             464.0
3                  465.0             464.0             463.0
4                  464.0             463.0             465.0
...                  ...               ...               ...
359305              59.0              63.0              68.0
359306              63.0              68.0              69.0
359307              68.0              69.0               0.0
359308              69.0               0.0               0.0
359309               0.0               0.0               0.0

[359310 rows x 3 columns]

In [47]:
y_feature_df

,state_code,county_name,period_begin,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5,inventory_lead_1,inventory_lead_2,inventory_lead_3
0,AK,Kenai Peninsula Borough,2017-01-02,474.0,0.0,0.0,0.0,0.0,0.0,470.0,467.0,465.0
1,AK,Kenai Peninsula Borough,2017-01-09,470.0,474.0,0.0,0.0,0.0,0.0,467.0,465.0,465.0
2,AK,Kenai Peninsula Borough,2017-01-16,467.0,470.0,474.0,0.0,0.0,0.0,465.0,465.0,464.0
3,AK,Kenai Peninsula Borough,2017-01-23,465.0,467.0,470.0,474.0,0.0,0.0,465.0,464.0,463.0
4,AK,Kenai Peninsula Borough,2017-01-30,465.0,465.0,467.0,470.0,474.0,0.0,464.0,463.0,465.0
...,...,...,...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,55.0,51.0,48.0,45.0,44.0,43.0,59.0,63.0,68.0
359306,WV,Morgan County,2021-05-10,59.0,55.0,51.0,48.0,45.0,44.0,63.0,68.0,69.0
359307,WV,Morgan County,2021-05-17,63.0,59.0,55.0,51.0,48.0,45.0,68.0,69.0,0.0
359308,WV,Morgan County,2021-05-24,68.0,63.0,59.0,55.0,51.0,48.0,69.0,0.0,0.0
359309,WV,Morgan County,2021-05-31,69.0,68.0,63.0,59.0,55.0,51.0,0.0,0.0,0.0

In [48]:
x_related_feature_df

,state_code,county_name,period_begin,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5
0,AK,Kenai Peninsula Borough,2017-01-02,218875.0,0.0,0.0,0.0,0.0,0.0
1,AK,Kenai Peninsula Borough,2017-01-09,233062.5,218875.0,0.0,0.0,0.0,0.0
2,AK,Kenai Peninsula Borough,2017-01-16,232312.5,233062.5,218875.0,0.0,0.0,0.0
3,AK,Kenai Peninsula Borough,2017-01-23,221125.0,232312.5,233062.5,218875.0,0.0,0.0
4,AK,Kenai Peninsula Borough,2017-01-30,236687.5,221125.0,232312.5,233062.5,218875.0,0.0
...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,249987.5,244987.5,233737.5,215626.3,256613.8,247113.8
359306,WV,Morgan County,2021-05-10,256237.5,249987.5,244987.5,233737.5,215626.3,256613.8
359307,WV,Morgan County,2021-05-17,244012.5,256237.5,249987.5,244987.5,233737.5,215626.3
359308,WV,Morgan County,2021-05-24,235887.5,244012.5,256237.5,249987.5,244987.5,233737.5
359309,WV,Morgan County,2021-05-31,276612.5,235887.5,244012.5,256237.5,249987.5,244987.5

In [49]:
#Combine the data to get a numpy array for time series NN training.
drop_cols = ["state_code", "county_name", "period_begin"]
x_related_feature_df_sale_model.drop(columns=drop_cols, inplace=True)
combined_xy_features_sale_model = pd.concat([y_feature_df_sale_model, x_related_feature_df_sale_model, x_related_feature_lead_df_sale_model], axis=1)

In [50]:
combined_xy_features_sale_model

,state_code,county_name,period_begin,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5,median_sale_price_lead_1,median_sale_price_lead_2,median_sale_price_lead_3,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5,inventory_lead_1,inventory_lead_2,inventory_lead_3
0,AK,Kenai Peninsula Borough,2017-01-02,218875.0,0.0,0.0,0.0,0.0,0.0,233062.5,232312.5,221125.0,474.0,0.0,0.0,0.0,0.0,0.0,470.0,467.0,465.0
1,AK,Kenai Peninsula Borough,2017-01-09,233062.5,218875.0,0.0,0.0,0.0,0.0,232312.5,221125.0,236687.5,470.0,474.0,0.0,0.0,0.0,0.0,467.0,465.0,465.0
2,AK,Kenai Peninsula Borough,2017-01-16,232312.5,233062.5,218875.0,0.0,0.0,0.0,221125.0,236687.5,224062.5,467.0,470.0,474.0,0.0,0.0,0.0,465.0,465.0,464.0
3,AK,Kenai Peninsula Borough,2017-01-23,221125.0,232312.5,233062.5,218875.0,0.0,0.0,236687.5,224062.5,213562.5,465.0,467.0,470.0,474.0,0.0,0.0,465.0,464.0,463.0
4,AK,Kenai Peninsula Borough,2017-01-30,236687.5,221125.0,232312.5,233062.5,218875.0,0.0,224062.5,213562.5,231687.5,465.0,465.0,467.0,470.0,474.0,0.0,464.0,463.0,465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,249987.5,244987.5,233737.5,215626.3,256613.8,247113.8,256237.5,244012.5,235887.5,55.0,51.0,48.0,45.0,44.0,43.0,59.0,63.0,68.0
359306,WV,Morgan County,2021-05-10,256237.5,249987.5,244987.5,233737.5,215626.3,256613.8,244012.5,235887.5,276612.5,59.0,55.0,51.0,48.0,45.0,44.0,63.0,68.0,69.0
359307,WV,Morgan County,2021-05-17,244012.5,256237.5,249987.5,244987.5,233737.5,215626.3,235887.5,276612.5,0.0,63.0,59.0,55.0,51.0,48.0,45.0,68.0,69.0,0.0
359308,WV,Morgan County,2021-05-24,235887.5,244012.5,256237.5,249987.5,244987.5,233737.5,276612.5,0.0,0.0,68.0,63.0,59.0,55.0,51.0,48.0,69.0,0.0,0.0
359309,WV,Morgan County,2021-05-31,276612.5,235887.5,244012.5,256237.5,249987.5,244987.5,0.0,0.0,0.0,69.0,68.0,63.0,59.0,55.0,51.0,0.0,0.0,0.0

In [51]:
merged_home_data_time_series_sale_model = pd.merge(
    combined_xy_features_sale_model,
    static_feature_df_sale_model,
    how="inner",
    right_index=False)

In [52]:
#Combine the data to get a numpy array for time series NN training.
drop_cols = ["state_code", "county_name", "period_begin"]
x_related_feature_df.drop(columns=drop_cols, inplace=True)
combined_xy_features = pd.concat([y_feature_df, x_related_feature_df], axis=1)

In [53]:
combined_xy_features

,state_code,county_name,period_begin,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5,inventory_lead_1,inventory_lead_2,inventory_lead_3,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5
0,AK,Kenai Peninsula Borough,2017-01-02,474.0,0.0,0.0,0.0,0.0,0.0,470.0,467.0,465.0,218875.0,0.0,0.0,0.0,0.0,0.0
1,AK,Kenai Peninsula Borough,2017-01-09,470.0,474.0,0.0,0.0,0.0,0.0,467.0,465.0,465.0,233062.5,218875.0,0.0,0.0,0.0,0.0
2,AK,Kenai Peninsula Borough,2017-01-16,467.0,470.0,474.0,0.0,0.0,0.0,465.0,465.0,464.0,232312.5,233062.5,218875.0,0.0,0.0,0.0
3,AK,Kenai Peninsula Borough,2017-01-23,465.0,467.0,470.0,474.0,0.0,0.0,465.0,464.0,463.0,221125.0,232312.5,233062.5,218875.0,0.0,0.0
4,AK,Kenai Peninsula Borough,2017-01-30,465.0,465.0,467.0,470.0,474.0,0.0,464.0,463.0,465.0,236687.5,221125.0,232312.5,233062.5,218875.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359305,WV,Morgan County,2021-05-03,55.0,51.0,48.0,45.0,44.0,43.0,59.0,63.0,68.0,249987.5,244987.5,233737.5,215626.3,256613.8,247113.8
359306,WV,Morgan County,2021-05-10,59.0,55.0,51.0,48.0,45.0,44.0,63.0,68.0,69.0,256237.5,249987.5,244987.5,233737.5,215626.3,256613.8
359307,WV,Morgan County,2021-05-17,63.0,59.0,55.0,51.0,48.0,45.0,68.0,69.0,0.0,244012.5,256237.5,249987.5,244987.5,233737.5,215626.3
359308,WV,Morgan County,2021-05-24,68.0,63.0,59.0,55.0,51.0,48.0,69.0,0.0,0.0,235887.5,244012.5,256237.5,249987.5,244987.5,233737.5
359309,WV,Morgan County,2021-05-31,69.0,68.0,63.0,59.0,55.0,51.0,0.0,0.0,0.0,276612.5,235887.5,244012.5,256237.5,249987.5,244987.5

In [54]:
merged_home_data_time_series = pd.merge(
    combined_xy_features,
    static_feature_df,
    how="inner",
    right_index=False)

In [55]:
merged_home_data_time_series

,state_code,county_name,period_begin,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5,inventory_lead_1,inventory_lead_2,inventory_lead_3,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5,R_INTERNATIONAL_MIG_2019,Unemployment_rate_2020,PCT_COLL_4_2015_19,PCT_COLL_1TO3_2000,PCT_HSD_Only_2000,R_NET_MIG_2019,Med_HH_Income_Percent_of_State_Total_2019,GQ_ESTIMATES_2019,N_POP_CHG_2019,INTERNATIONAL_MIG_2019,NET_MIG_2019,HSD_Only_2000,DOMESTIC_MIG_2019,RESIDUAL_2019,Deaths_2019,COLL_4_2000,POP_ESTIMATE_2019,LT_HSD_2015_19,COLL_1TO3_2000,Unemployed_2020,NATURAL_INC_2019,GQ_ESTIMATES_BASE_2010,Employed_2020,LT_HSD_2000,COLL_4_2015_19,HSD_Only_2015_19,COLL_1TO3_2015_19,Civilian_labor_force_2020,CENSUS_2010_POP,PCT_LT_HSD_2000,R_birth_2019,PCT_COLL_1TO3_2015_19,PCT_COLL_4_2000,Economic_typology_2015,R_death_2019
0,AK,Kenai Peninsula Borough,2017-01-02,474.0,0.0,0.0,0.0,0.0,0.0,470.0,467.0,465.0,218875.0,0.0,0.0,0.0,0.0,0.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
1,AK,Kenai Peninsula Borough,2017-01-09,470.0,474.0,0.0,0.0,0.0,0.0,467.0,465.0,465.0,233062.5,218875.0,0.0,0.0,0.0,0.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
2,AK,Kenai Peninsula Borough,2017-01-16,467.0,470.0,474.0,0.0,0.0,0.0,465.0,465.0,464.0,232312.5,233062.5,218875.0,0.0,0.0,0.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
3,AK,Kenai Peninsula Borough,2017-01-23,465.0,467.0,470.0,474.0,0.0,0.0,465.0,464.0,463.0,221125.0,232312.5,233062.5,218875.0,0.0,0.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
4,AK,Kenai Peninsula Borough,2017-01-30,465.0,465.0,467.0,470.0,474.0,0.0,464.0,463.0,465.0,236687.5,221125.0,232312.5,233062.5,218875.0,0.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386701,WV,Morgan County,2021-05-03,55.0,51.0,48.0,45.0,44.0,43.0,59.0,63.0,68.0,249987.5,244987.5,233737.5,215626.3,256613.8,247113.8,-0.4,6.0,17.0,18.6,46.0,6.8,104.1,123,54,-8,121,"4,868",129,-1.0,219,"1,187","17,884","1,860","1,972",505,-66,123,"7,857","2,564","2,243","5,337","3,773","8,362","17,541",24.2,8.6,28.6,11.2,5.0,12.3
386702,WV,Morgan County,2021-05-10,59.0,55.0,51.0,48.0,45.0,44.0,63.0,68.0,69.0,256237.5,249987.5,244987.5,233737.5,215626.3,256613.8,-0.4,6.0,17.0,18.6,46.0,6.8,104.1,123,54,-8,121,"4,868",129,-1.0,219,"1,187","17,884","1,860","1,972",505,-66,123,"7,857","2,564","2,243","5,337","3,773","8,362","17,541",24.2,8.6,28.6,11.2,5.0,12.3
386703,WV,Morgan County,2021-05-17,63.0,59.0,55.0,51.0,48.0,45.0,68.0,69.0,0.0,244012.5,256237.5,249987.5,244987.5,233737.5,215626.3,-0.4,6.0,17.0,18.6,46.0,6.8,104.1,123,54,-8,121,"4,868",129,-1.0,219,"1,187","17,884","1,860","1,972",505,-66,123,"7,857","2,564","2,243","5,337","3,773","8,362","17,541",24.2,8.6,28.6,11.2,5.0,12.3
386704,WV,Morgan County,2021-05-24,68.0,63.0,59.0,55.0,51.0,48.0,69.0,0.0,0.0,235887.5,244012.5,256237.5,249987.5,244987.5,233737.5,-0.4,6.0,17.0,18.6,46.0,6.8,104.1,123,54,-8,121,"4,868",129,-1.0,219,"1,187","17,884","1,860","1,972",505,-66,123,"7,857","2,564","2,243","5,337","3,773","8,362","17,541",24.2,8.6,28.6,11.2,5.0,12.3
386705,WV,Morgan County,2021-05-31,69.0,68.0,63.0,59.0,55.0,51.0,0.0,0.0,0.0,276612.5,235887.5,244012.5,256237.5,249987.5,244987.5,-0.4,6.0,17.0,18.6,46.0,6.8,104.1,123,54,-8,121,"4,868",129,-1.0,219,"1,187","17,884","1,860","1,972",505,-66,123,"7,857","2,564","2,243","5,337","3,773","8,362","17,541",24.2,8.6,28.6,11.2,5.0,12.3

In [56]:
merged_home_data_time_series.columns

Index(['state_code', 'county_name', 'period_begin', 'inventory',
       'inventory_lag_1', 'inventory_lag_2', 'inventory_lag_3',
       'inventory_lag_4', 'inventory_lag_5', 'inventory_lead_1',
       'inventory_lead_2', 'inventory_lead_3', 'median_sale_price',
       'median_sale_price_lag_1', 'median_sale_price_lag_2',
       'median_sale_price_lag_3', 'median_sale_price_lag_4',
       'median_sale_price_lag_5', 'R_INTERNATIONAL_MIG_2019',
       'Unemployment_rate_2020', 'PCT_COLL_4_2015_19', 'PCT_COLL_1TO3_2000',
       'PCT_HSD_Only_2000', 'R_NET_MIG_2019',
       'Med_HH_Income_Percent_of_State_Total_2019', 'GQ_ESTIMATES_2019',
       'N_POP_CHG_2019', 'INTERNATIONAL_MIG_2019', 'NET_MIG_2019',
       'HSD_Only_2000', 'DOMESTIC_MIG_2019', 'RESIDUAL_2019', 'Deaths_2019',
       'COLL_4_2000', 'POP_ESTIMATE_2019', 'LT_HSD_2015_19', 'COLL_1TO3_2000',
       'Unemployed_2020', 'NATURAL_INC_2019', 'GQ_ESTIMATES_BASE_2010',
       'Employed_2020', 'LT_HSD_2000', 'COLL_4_2015_19', 'HSD_Only_2015_19',
       'COLL_1TO3_2015_19', 'Civilian_labor_force_2020', 'CENSUS_2010_POP',
       'PCT_LT_HSD_2000', 'R_birth_2019', 'PCT_COLL_1TO3_2015_19',
       'PCT_COLL_4_2000', 'Economic_typology_2015', 'R_death_2019'],
      dtype='object')

In [57]:
merged_home_data_time_series.to_csv(f"{data_folder}merged_home_data_time_series.csv", index=False)

In [58]:
merged_home_data_time_series_sale_model.columns

Index(['state_code', 'county_name', 'period_begin', 'median_sale_price',
       'median_sale_price_lag_1', 'median_sale_price_lag_2',
       'median_sale_price_lag_3', 'median_sale_price_lag_4',
       'median_sale_price_lag_5', 'median_sale_price_lead_1',
       'median_sale_price_lead_2', 'median_sale_price_lead_3', 'inventory',
       'inventory_lag_1', 'inventory_lag_2', 'inventory_lag_3',
       'inventory_lag_4', 'inventory_lag_5', 'inventory_lead_1',
       'inventory_lead_2', 'inventory_lead_3', 'R_INTERNATIONAL_MIG_2019',
       'Unemployment_rate_2020', 'PCT_COLL_4_2015_19', 'PCT_COLL_1TO3_2000',
       'PCT_HSD_Only_2000', 'R_NET_MIG_2019',
       'Med_HH_Income_Percent_of_State_Total_2019', 'GQ_ESTIMATES_2019',
       'N_POP_CHG_2019', 'INTERNATIONAL_MIG_2019', 'NET_MIG_2019',
       'HSD_Only_2000', 'DOMESTIC_MIG_2019', 'RESIDUAL_2019', 'Deaths_2019',
       'COLL_4_2000', 'POP_ESTIMATE_2019', 'LT_HSD_2015_19', 'COLL_1TO3_2000',
       'Unemployed_2020', 'NATURAL_INC_2019', 'GQ_ESTIMATES_BASE_2010',
       'Employed_2020', 'LT_HSD_2000', 'COLL_4_2015_19', 'HSD_Only_2015_19',
       'COLL_1TO3_2015_19', 'Civilian_labor_force_2020', 'CENSUS_2010_POP',
       'PCT_LT_HSD_2000', 'R_birth_2019', 'PCT_COLL_1TO3_2015_19',
       'PCT_COLL_4_2000', 'Economic_typology_2015', 'R_death_2019'],
      dtype='object')

In [59]:
merged_home_data_time_series_sale_model.to_csv(f"{data_folder}merged_home_data_time_series_sale_model.csv", index=False)

In [60]:
merged_home_data_time_series_sale_model.head(3)

,state_code,county_name,period_begin,median_sale_price,median_sale_price_lag_1,median_sale_price_lag_2,median_sale_price_lag_3,median_sale_price_lag_4,median_sale_price_lag_5,median_sale_price_lead_1,median_sale_price_lead_2,median_sale_price_lead_3,inventory,inventory_lag_1,inventory_lag_2,inventory_lag_3,inventory_lag_4,inventory_lag_5,inventory_lead_1,inventory_lead_2,inventory_lead_3,R_INTERNATIONAL_MIG_2019,Unemployment_rate_2020,PCT_COLL_4_2015_19,PCT_COLL_1TO3_2000,PCT_HSD_Only_2000,R_NET_MIG_2019,Med_HH_Income_Percent_of_State_Total_2019,GQ_ESTIMATES_2019,N_POP_CHG_2019,INTERNATIONAL_MIG_2019,NET_MIG_2019,HSD_Only_2000,DOMESTIC_MIG_2019,RESIDUAL_2019,Deaths_2019,COLL_4_2000,POP_ESTIMATE_2019,LT_HSD_2015_19,COLL_1TO3_2000,Unemployed_2020,NATURAL_INC_2019,GQ_ESTIMATES_BASE_2010,Employed_2020,LT_HSD_2000,COLL_4_2015_19,HSD_Only_2015_19,COLL_1TO3_2015_19,Civilian_labor_force_2020,CENSUS_2010_POP,PCT_LT_HSD_2000,R_birth_2019,PCT_COLL_1TO3_2015_19,PCT_COLL_4_2000,Economic_typology_2015,R_death_2019
0,AK,Kenai Peninsula Borough,2017-01-02,218875.0,0.0,0.0,0.0,0.0,0.0,233062.5,232312.5,221125.0,474.0,0.0,0.0,0.0,0.0,0.0,470.0,467.0,465.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
1,AK,Kenai Peninsula Borough,2017-01-09,233062.5,218875.0,0.0,0.0,0.0,0.0,232312.5,221125.0,236687.5,470.0,474.0,0.0,0.0,0.0,0.0,467.0,465.0,465.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2
2,AK,Kenai Peninsula Borough,2017-01-16,232312.5,233062.5,218875.0,0.0,0.0,0.0,221125.0,236687.5,224062.5,467.0,470.0,474.0,0.0,0.0,0.0,465.0,465.0,464.0,0.3,9.1,24.6,36.4,31.8,0.4,88.9,"1,686",147,20,26,"9,990",6,-3.0,541,"6,362","58,708","2,977","11,431","2,393",124,"1,722","23,948","3,605","9,995","12,702","14,977","26,341","55,400",11.5,11.3,36.8,20.3,5.0,9.2